@font-face {
  font-family: "iconfont"; /* Project id 3280236 */
  src: url("iconfont.woff2?t=1648294152846") format("woff2"),
    url("iconfont.woff?t=1648294152846") format("woff"),
    url("iconfont.ttf?t=1648294152846") format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.form-select:before {
  content: "\e661";
}

.form-input:before {
  content: "\e6fd";
}
